<div class='recipe-details-wrapper'>
<%=render 'shared/navbar' %>
<div class='recipe-details-inner'>
<div class='recipe-details'>
<h2><%=@recipe.name%></h2>
<div class='recipe-details-line'>
<h4>Preparation_time: <%=@recipe.preparation_time%></h4>
</div>
 <div class='recipe-details-line'>       
<h4>Cooking_time: <%=@recipe.cooking_time%></h4>
</div>
<div class='recipe-details-line'>
<p><%=@recipe.description%></p>
</div>
</div>

<div class='recipe-details-btns'>
</div>
<table>
<thead>
<tr>
<th>Name</th>
<th>Price</th>
<th>Quantity</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<% @recipe_food.each do |food| %>
<tr>
<td><%=food.name%></td>
<td>$<%=food.price%></td>
<td><%=food.quantity%>
<%=food.measurement_unit%>
</td>
</tr>
<%end%>
</div>
</div>