<div class='recipe-list-container'>
<div class='recipe-list-inner'>
<%=render 'shared/navbar' %>
<%=render 'shared/mobilenav' %>
<div class='recipe-list-wrapper'>
<i class="fa-solid fa-user-secret"></i>

<%= link_to 'Create', new_recipe_path, :class => 'link-create-recipe' %>
<div class="recipe-list">
<% @recipe.each do |recipe| %>
<div class='recipe-item'>
<div class="list-recipe-title">
<%= link_to recipe.name, recipe_path(recipe) %>
<%= button_to 'REMOVE',  recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'recipe-remove-btn' %>
</div>

<div class='descritption'>
<%=recipe.description %>
</div>
</div>
<% end %>
</div>
</div>
</div>
</div>