<div class="mobile-nav">
<%=link_to 'Foods', foods_path, :class=>"food-path"  %>
<%=link_to 'Recipes', recipes_path, :class=>"recipe-path"  %>
<%=link_to 'Public', publics_path, :class=>"public-path"  %>
<%=link_to 'Shopping List', shoppings_path, :class=>"list-patth"  %>
<%=render 'shared/logout' %>
</div>