<nav class="my-nav">
<div class='path-wrapper'>
<%=link_to 'Foods', foods_path, :class=>"nav-item"  %>
<%=link_to 'Recipes', recipes_path, :class=>"nav-item"  %>
<%=link_to 'Public', publics_path, :class=>"nav-item"  %>
<%=link_to 'Shopping List', shoppings_path, :class=>"nav-item"  %>
</div>
<%=render 'shared/logout' %>
</nav>