<div class="food-list-container shopping-container">
<div class="shopping-container-inner">
<%=render 'shared/navbar' %>
<div class="shop-details">
<%=render 'shared/mobilenav' %>
<div class="shopping-ettempt">
<p> Amount of food items to buy: <%=@shopping_list.length%></p>
<p> Total value of food needed: $<%=@price%></p>
</div>
</div>
<table class='food-list-table'>
<thead>
<tr>
<th>Name</th>
<th>Measurement unit</th>
<th>Price</th>
</tr>
</thead>
<tbody>
<% @shopping_list.each_with_index do |food,index| %>
  <% styling1 = index % 2 == 0 ? 'q-light' : 'q-dark' %>
<tr class= "<%= styling1 %>">
<td><%= food.name %></td>
<td><%= food.measurement_unit %></td>
<td>$<%= food.price %></td>
<%end%>
</tbody>
</table>
</div>
</div>